body {
    font-family: Arial, sans-serif;
    padding: 15px;
    background-color: #1d1d1d;
    color: white;
}
  
input, button {
    padding: 8px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}
  
button {
    background-color: #0084ff;
    color: white;
    border: none;
    cursor: pointer;
}
  
button:hover {
    background-color: #006ad4;
}
  
#result {
    margin-top: 15px;
}
  
a {
    text-decoration: none;
}